[Desktop Entry]
Icon=text-html
Type=Link
URL[$e]=https://github.com/emanuel-alves/uri-online-judge/blob/master/resolvidos/porCategoria/ad-hoc/1467.cpp
